<div id="powerinfo" class="input-group">
    <i class="icon-power-off" data-bind="visible: rOneShow"></i>
    <span data-bind="visible: rOneShow, text: rOneMessage"></span>
    <br>
    <i class="icon-power-off" data-bind="visible: rTwoShow"></i>
    <span data-bind="visible: rTwoShow, text: rTwoMessage"></span>
</div>
